.boxes-concept {
    bottom: 25px;
    display: flex;
    position: relative;
    justify-content: center
}

@media(max-width:991px) {
    .boxes-concept {
        flex-direction: column;
    }
}

.concept__box {
    width: 400px;
    height: 400px;
    background-color: #202b30;
    padding: 60px 50px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.concept__box:hover {
    background-color: #fb414e;
}

@media(max-width: 991px) {
    .concept__box {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

.concept__box-first {
    background-color: #fb414e;
}

.concept__box-first:hover {
    background-color: #202b30;
}

.concept__box-icon {
    width: 40px;
}

.concept__box-header {
    font-weight: 400;
    margin: 60px 0;
    position: relative;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .concept__box-header {
        font-size: 18px;
    }
}

.concept__box-hr {
    width: 40px;
    margin-left: 0;
}

.concept__box-description {
    font-size: 14px;
    line-height: 1.5;
}