.services {
    max-width: 880px;
    margin: 200px auto 100px;
}
@media(max-width: 768px) {
    .services {
        margin: 250px auto 50px;
    }
}
@media(max-width: 600px) {
    .services {
        margin: 850px auto 50px;
    }
}
.services__header {
    width: 100%;
    text-align: center; 
    height: auto;
}
.services__header-subheader {
    text-transform: uppercase;
    font-weight: bold;
}
.services__header-subheader,
.services__header-main-header-color {
    color: #fb414e;
}
.services__header-main-header,
.services__header-main-header-color {
    font-size: 50px;
}
@media(max-width: 600px) {
    .services__header-main-header,
    .services__header-main-header-color {
        font-size: 35px;
    }
}
.services__header-main-header {
    color: #202b30;
    margin: 20px auto;
}
.services__header-text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    color: grey;
}
.services__description {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 20px;
    padding: 15px;
}
.services__description-item {
    width: 33%;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
}
@media(max-width: 400px) {
    .services__description-item {
        width: 100%;
    }
}
.services__description-item-header {
    margin: 15px auto;
    font-size: 22px;
    font-weight: bold;
}
.services__description-item-text {
    color: grey;
    font-size: 14px;
}